<!DOCTYPE html>
<html lang="pt-br"> 
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/main.css' />    
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <link rel="stylesheet" href="/stylesheets/owl/owl.carousel.min.css">
    <link rel="stylesheet" href="/stylesheets/owl/owl.theme.default.min.css">  
    <title><%= title %></title>
  </head>